.del {
  border-radius: 7px;
  padding: 10px;
  border: 2px solid #87a7ff;
  color: #242a53;
  margin-bottom: 30px;
  cursor: pointer;
  font-weight: 500;
}
.del:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
  background-color: #eea1b1;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
.del span {
  margin-left: 5px;
}
.del .trash {
  color: #f75353;
}
